<head>
<<<<<<< HEAD
  <title>BESTchat</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/the-big-picture.css" rel="stylesheet">

      <meta charset="utf-8">

  <style>

    #chat-message {
      width: 99%;
      height: 80%;  
    }
=======

  <title>BESTchat</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    #chat-message {
      width: 100%;
      height: 50%;
    }

>>>>>>> 6b31c4b3af101ce178659653261ee0f4285d3486
    #messages {
      width: 100%;
      height: 150px;
      border: 1px solid rgb(230, 230, 230);
    overflow: auto;
<<<<<<< HEAD
background-color: #EEEEEE;
  }
  

		
body {
  background: url(/t.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

=======
  }
>>>>>>> 6b31c4b3af101ce178659653261ee0f4285d3486
  </style>
</head>

<body>
<<<<<<< HEAD
  
  {{> mainBox}}

</body>

<template name='mainBox'>
	<!-- dodanie belki u gory z nazwa chatu i guzikiem logowania -->
=======
  {{> mainBox}}
</body>

<template name='mainBox'>
>>>>>>> 6b31c4b3af101ce178659653261ee0f4285d3486
  <div class='container'>
    <div class="navbar-inner">
      <a class="brand" href="#"><br>BESTchat</a>
        <ul class="nav pull-right">
<<<<<<< HEAD
			<!-- guzik logowania -->
          <li>{{> loginButtons align="right"}}</li>
        </ul>
</div>
    <br>
  {{> chatBox}}
</div>
=======
          <li>{{> loginButtons align="right"}}</li>
        </ul>
    </div>
    <br>
    

  {{> chatBox}}
  </div>
>>>>>>> 6b31c4b3af101ce178659653261ee0f4285d3486
</template>

<template name='chatBox'>
  <div id='messages'>
    {{#each messages}}
      {{>chatMessage}}
    {{/each}}
<<<<<<< HEAD
  </div>	
  <!-- pole tekstowe z podlaczeniem funkcji do klawisza enter -->
  <textarea id='chat-message' onkeyup="enter(event, this)" placeholder="Wpisz Wiadomość"></textarea><br>
 <!-- guzik podlaczony do funkcji wysylania -->
  <button class='btn btn-warning' id='send'>Dodaj</button>
  <script>
    //automatyczne zjechanie suwakiem do nowej wiadomosci
=======
  </div>
     
  <textarea id='chat-message' onkeyup="process(event, this)" placeholder="Wpisz Wiadomość"></textarea><br>
  <button class='btn btn-warning' id='send'>Dodaj</button>
  <script>
>>>>>>> 6b31c4b3af101ce178659653261ee0f4285d3486
function dol() {
    var suwak = document.getElementById("messages");
    suwak.scrollTop = 99999999999;
}
  function wyslij() {
	  try{
<<<<<<< HEAD
	 if (Meteor.user().username==null){
	 }
	 else {
//pobranie wiadomosci
    var message = $('#chat-message').val();
//brak reakcji w przypadku pustej wiadomosci
    if (message=='\n'){
		    $('#chat-message').val(null);

=======
	 if (Meteor.user().username=='null'){
	 }
	 else {
    var message = $('#chat-message').val();
    if (message=='\n'){
		    $('#chat-message').val(null);
>>>>>>> 6b31c4b3af101ce178659653261ee0f4285d3486
		return 0;
			}
	else{
    chatCollection.insert({
<<<<<<< HEAD
//dodanie wiadomosci do streamu lokalnie
=======
>>>>>>> 6b31c4b3af101ce178659653261ee0f4285d3486
      userId: 'ty',
      message: message
    });
}
  }
}
catch(TypeError){
<<<<<<< HEAD
	//jesli ktos niezalogowany wysle wiadomosc pojawia sie blad, ktory jest
	//catch'owany i pojawia sie komunikat
	alert("Aby pisać musisz się zalogować!");
	return 0;
}
//wyczyszczenie tabelki do tekstu
    $('#chat-message').val(null);
    //automatyczne zjechanie suwakiem do nowej wiadomosci
        var suwak = document.getElementById("messages");
    suwak.scrollTop = 99999999999;
=======
	alert("Aby pisać musisz się zalogować!");
	$('#chat-message').val(null);
	return 0;
}
    $('#chat-message').val(null);
    dol();
>>>>>>> 6b31c4b3af101ce178659653261ee0f4285d3486
    chatStream.emit('chat', message);
  }
  
</script>
<script>
<<<<<<< HEAD
	//enter ma kod 13
function enter(e) {
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13) { 
wyslij();

=======
	
function process(e) {
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13) { 
wyslij();
>>>>>>> 6b31c4b3af101ce178659653261ee0f4285d3486
    }
}
</script>
</template>


<template name='chatMessage'>
  <div>
<<<<<<< HEAD
<!-- wyswietlenie kazdej nowej wiadomosci i odwolywanie sie do poszczegolnycg
definicji -->

    <b style=color:{{kolor}}>({{czas}}) {{user}}:</b> {{message}}  
=======
    <b style=color:{{kolor}}>{{user}}:</b> {{message}}  
>>>>>>> 6b31c4b3af101ce178659653261ee0f4285d3486
  </div>
</template>
